@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-Blue: hsl(212, 100%, 50%);
  --color-Gray: hsl(217, 20%, 51%);
  --color-BlueGray: hsl(217, 35%, 45%);
  --color-Black: hsl(217, 21%, 21%);
  --color-LightGray: hsl(227, 100%, 98%);
  --color-Red: hsl(0, 43%, 50%);
  --color-White: hsl(0, 0%, 100%);
  --color-Blacker: hsl(220, 40%, 13%);
  --color-DarkGray: hsl(222, 41%, 20%);

  --breakpoint-1440: 90rem;
}


@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100vh;
  }

  body {
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    font-family: "Space Mono", sans-serif;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  svg {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
  }


  span,
  h1, h2, h3, h4, h5, h6,
  p {
    display: inline-block;
  }



  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }

  input {
    font-size: inherit;
    border: none;
    font-family: inherit;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  textarea {
    font-size: inherit;
    border: none;
    font-family: inherit;
    line-height: 1.5;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  textarea:focus {
    outline: none;
  }

  fieldset {
    border: none;
  }

}


@layer components {


  .heading1 {
    @apply text-[26px]  font-bold
  }
  .heading2 {
    @apply text-[22px]   font-bold
  }
  .heading3 {
    @apply text-[16px]  font-normal
  }
  .heading4 {
    @apply text-[13px] font-normal
  }
  .body2 {
    @apply text-[15px]  font-normal
  }

}