@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-Red: hsl(0, 93%, 64%);
  --color-BlackBg: hsl(240, 14%, 11%);
  --color-White: hsl(0, 0%, 100%);
  --color-BlackText: hsl(0, 0%, 0%);

  --breakpoint-1440: 90rem;
}


@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100vh;
  }

  body {
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden; 
    font-family: 'Commissioner', sans-serif;
  }


  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  svg {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
  }


  span,
  h1, h2, h3, h4, h5, h6,
  p {
    display: inline-block;
  }



  a {

    color: inherit;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }

  input {
    font-size: inherit;
    border: none;
    font-family: inherit;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  textarea {
    font-size: inherit;
    border: none;
    font-family: inherit;
    line-height: 1.5;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  textarea:focus {
    outline: none;
  }

  fieldset {
    border: none;
  }

}


@layer components {
  .heading1 {
    @apply text-[80px] font-extrabold leading-[88px]
  }
  .heading2 {
    @apply text-[56px] font-extrabold leading-[64px]
  }
  .heading3 {
    @apply text-[20px] font-extrabold leading-[32px]
  }

  .body {
    @apply text-[15px] 1440:text-[18px] font-normal leading-[25px] 1440:leading-[32px]
  }

}